config LV_USE_ST_LTDC
	bool "Driver for ST LTDC"
	default n
	help
		Driver for ST LTDC

if LV_USE_ST_LTDC

config LV_ST_LTDC_USE_DMA2D_FLUSH
	bool "Only used for created partial mode LTDC displays"
	default n
	depends on !LV_USE_DRAW_DMA2D

endif #LV_USE_ST_LTDC
