config LV_USE_QNX
	bool "Use a QNX Screen window as a display"
	default n
	help
		QNX Screen display and input drivers

if LV_USE_QNX

config LV_QNX_BUF_COUNT
	int "QNX Buffer count"
	default 1

endif #LV_USE_QNX
