**/*.o
**/*bin
**/*.swp
**/*.swo
**/*.gcda
**/*.gcno
tags
scripts/cppcheck_res.txt
scripts/built_in_font/lv_font_*
__pycache__
/emscripten_builder
test_screenshot_error.h
build/
tests/build_*/
tests/report/
tests/wayland_protocols/
.DS_Store
.vscode
.idea
*.bak
tests/test_images/
.vs/
