# Kconfig file for LVGL v9.5.0

menu "LVGL"

	config LVGL_VERSION_MAJOR
		int
		default 9
	config LVGL_VERSION_MINOR
		int
		default 6
	config LVGL_VERSION_PATCH
		int
		default 0

	menu "Memory and Standard Library"
		rsource "src/stdlib/Kconfig"
	endmenu 

	menu "Operating System (OS)"
		rsource "src/osal/Kconfig"
	endmenu

	menu "Rendering Configuration"
		rsource "src/draw/Kconfig"
	endmenu

	menu "Input Devices"
		rsource "src/indev/Kconfig"
	endmenu

	menu "Core"
		rsource "src/core/Kconfig"
	endmenu

	menu "Logging"
		rsource "src/logging/Kconfig"
	endmenu

	menu "Themes"
		rsource "src/themes/Kconfig"
	endmenu

	menu "Layouts"
		rsource "src/layouts/Kconfig"
	endmenu
	
	menu "Image Settings"
		rsource "src/image/Kconfig"
	endmenu

	menu "Text & Font Settings"
		rsource "src/font/Kconfig"
	endmenu

	menu "Widgets"
		rsource "src/widgets/Kconfig"
	endmenu

	menu "Drivers"
		rsource "src/drivers/Kconfig"
	endmenu

	menu "File System"
		rsource "src/fs/Kconfig"
	endmenu

	menu "Debugging"
		rsource "src/debugging/Kconfig"
	endmenu

	menu "Others"
		rsource "src/others/Kconfig"
	endmenu

	menu "Build"
		rsource "env_support/kconfig/Kconfig.build"
	endmenu 

	menu "Compiler Settings"
		rsource "env_support/kconfig/Kconfig.compiler"
	endmenu


	menu "Examples"
		rsource "examples/Kconfig"
	endmenu

	menu "Demos"
		rsource "demos/Kconfig"
	endmenu

endmenu
