config LV_USE_DRAW_EVE
	bool "Use EVE FT81X GPU"
	default n
	help
		Use EVE FT81X GPU.

if LV_USE_DRAW_EVE

config LV_DRAW_EVE_EVE_GENERATION
	int "EVE_GEN value"
	default 4
	range 2 4

config LV_DRAW_EVE_WRITE_BUFFER_SIZE
	int "Max bytes to buffer for each SPI transmission or 0 to disable buffering"
	default 2048

endif
