config LV_USE_TINY_TTF
	bool "Enable Tiny TTF decoder"
	default n
	help
		Built-in TTF decoder
if LV_USE_TINY_TTF
config LV_TINY_TTF_FILE_SUPPORT
	bool "Enable loading Tiny TTF data from files"
	default n
config LV_TINY_TTF_CACHE_GLYPH_CNT
	int "Tiny ttf cache entries count"
	default 128

config LV_TINY_TTF_CACHE_KERNING_CNT
	int "Tiny ttf kerning cache entries count"
	default 256
endif #LV_USE_TINY_TTF
