config LV_USE_GENERIC_MIPI
	bool "Generic MIPI driver"
	default n
	help
		Generic MIPI driver for LCD devices connected via SPI or parallel
		port. Use this if your specific LCD controller is not listed among
		the dedicated drivers below.

config LV_USE_ST7735
	bool "Use ST7735 LCD driver"
	default n
	select LV_USE_GENERIC_MIPI
	help
		Drivers for LCD devices connected via SPI/parallel port

config LV_USE_ST7789
	bool "Use ST7789 LCD driver"
	default n
	select LV_USE_GENERIC_MIPI

config LV_USE_ST7796
	bool "Use ST7796 LCD driver"
	default n
	select LV_USE_GENERIC_MIPI

config LV_USE_ILI9341
	bool "Use ILI9341 LCD driver"
	default n
	select LV_USE_GENERIC_MIPI

config LV_USE_NV3007
	bool "Use NV3007 LCD driver"
	default n
	select LV_USE_GENERIC_MIPI

