source "$LVGL_DIR/src/drivers/display/drm/Kconfig"
source "$LVGL_DIR/src/drivers/display/fb/Kconfig"
source "$LVGL_DIR/src/drivers/display/ft81x/Kconfig"
source "$LVGL_DIR/src/drivers/display/lovyan_gfx/Kconfig"
source "$LVGL_DIR/src/drivers/display/mipi/Kconfig"
source "$LVGL_DIR/src/drivers/display/nxp_elcdif/Kconfig"
source "$LVGL_DIR/src/drivers/display/renesas_glcdc/Kconfig"
source "$LVGL_DIR/src/drivers/display/st_ltdc/Kconfig"
source "$LVGL_DIR/src/drivers/display/tft_espi/Kconfig"
source "$LVGL_DIR/src/drivers/evdev/Kconfig"
source "$LVGL_DIR/src/drivers/libinput/Kconfig"
source "$LVGL_DIR/src/drivers/nuttx/Kconfig"
source "$LVGL_DIR/src/drivers/opengles/Kconfig"
source "$LVGL_DIR/src/drivers/qnx/Kconfig"
source "$LVGL_DIR/src/drivers/sdl/Kconfig"
source "$LVGL_DIR/src/drivers/uefi/Kconfig"
source "$LVGL_DIR/src/drivers/wayland/Kconfig"
source "$LVGL_DIR/src/drivers/windows/Kconfig"
source "$LVGL_DIR/src/drivers/x11/Kconfig"

config LV_USE_NANOVG
	bool "NanoVG library"
	default n
	help
		Enable NanoVG (vector graphics library)
