config LV_USE_NUTTX
	bool "Use Nuttx to open window and handle touchscreen"
	default n
	help
		Use Nuttx to open window and handle touchscreen

if LV_USE_NUTTX

config LV_USE_NUTTX_INDEPENDENT_IMAGE_HEAP
	bool "Use independent image heap"
	default n

config LV_NUTTX_DEFAULT_DRAW_BUF_USE_INDEPENDENT_IMAGE_HEAP
	bool "Use independent image heap for default draw buffer"
	depends on LV_USE_NUTTX_INDEPENDENT_IMAGE_HEAP
	default n

config LV_USE_NUTTX_LIBUV
	bool "Use uv loop to replace default timer loop and other fb/indev timers"
	default n

config LV_USE_NUTTX_CUSTOM_INIT
	bool "Use Custom Nuttx init API to open window and handle touchscreen"
	default n

config LV_USE_NUTTX_LCD
	bool "Use NuttX LCD device"
	default n

choice
	prompt "NuttX LCD buffer size"
	depends on LV_USE_NUTTX_LCD
	default LV_NUTTX_LCD_SINGLE_BUFFER

	config LV_NUTTX_LCD_SINGLE_BUFFER
		bool "One screen-sized buffer"

	config LV_NUTTX_LCD_DOUBLE_BUFFER
		bool "Two screen-sized buffer"

	config LV_NUTTX_LCD_CUSTOM_BUFFER
		bool "Custom-sized buffer"

endchoice

config LV_NUTTX_LCD_BUFFER_COUNT
	int
	default 0 if LV_NUTTX_LCD_CUSTOM_BUFFER
	default 1 if LV_NUTTX_LCD_SINGLE_BUFFER
	default 2 if LV_NUTTX_LCD_DOUBLE_BUFFER

config LV_NUTTX_LCD_BUFFER_SIZE
	int "Custom partial buffer size (in number of rows)"
	depends on LV_NUTTX_LCD_CUSTOM_BUFFER
	depends on LV_USE_NUTTX_LCD
	default 60
	

config LV_USE_NUTTX_TOUCHSCREEN
	bool "Use NuttX touchscreen driver"
	default n

config LV_NUTTX_TOUCHSCREEN_CURSOR_SIZE
	int "Touchscreen cursor size in pixels"
	depends on LV_USE_NUTTX_TOUCHSCREEN
	default 0
	help
		Set to 0 to disable cursor, or set to a value greater than 0 to set the cursor size in pixels.

config LV_USE_NUTTX_MOUSE
	bool "Use NuttX mouse driver"
	default n

config LV_USE_NUTTX_MOUSE_MOVE_STEP
	int "Mouse movement step (pixels)"
	depends on LV_USE_NUTTX_MOUSE
	range 1 10
	default 1
	help
		Set the step size of the mouse movement in pixels.

config LV_USE_NUTTX_TRACE_FILE
	bool "Use NuttX trace file"
	depends on LV_USE_PROFILER_BUILTIN
	default n

config LV_NUTTX_TRACE_FILE_PATH
	depends on LV_USE_NUTTX_TRACE_FILE
	string "NuttX trace file path"
	default "/data/lvgl-trace.log"


endif #LV_USE_NUTTX
