menu "Others"
config LV_USE_FRAGMENT
	bool "Enable lv_obj fragment"
	default n
	help
		Enable `lv_obj` fragment logic

config LV_USE_FILE_EXPLORER
	bool "Enable file explorer"
	default n
	select LV_USE_TABLE
	help
		Enable file explorer.

if LV_USE_FILE_EXPLORER
config LV_FILE_EXPLORER_PATH_MAX_LEN
	int "Maximum length of path"
	default 128

config LV_FILE_EXPLORER_QUICK_ACCESS
	bool "Enable quick access bar"
	default y
	help
		This can save some memory, but not much.
		After the quick access bar is created, it can be hidden
		by clicking the button at the top left corner of
		the browsing area, which is very useful for small screen devices.

endif #LV_USE_FILE_EXPLORER

endmenu
