config LV_USE_PXP
	bool "Use PXP (legacy, no effect) [DEPRECATED: use LV_USE_DRAW_PXP]"
	default n
	help
	  Deprecated and non-functional. Use LV_USE_DRAW_PXP instead.

config LV_USE_DRAW_PXP
	bool "Use PXP for drawing"
	default n

if LV_USE_DRAW_PXP

config LV_USE_ROTATE_PXP
	bool "Use PXP to rotate the display"
	default n

config LV_USE_PXP_DRAW_THREAD
	bool "Use additional draw thread for PXP processing"
	depends on !LV_OS_NONE
	default y

config LV_USE_PXP_ASSERT
	bool "Enable PXP asserts"

endif
