if LVGL

config LV_CONF_SKIP
	default n

config APP_LINK_WITH_LVGL
	bool "Link 'app' with LVGL"
	default y
	help
	  Add LVGL header files to the 'app' include path. It may be
	  disabled if the include paths for LVGL are causing aliasing
	  issues for 'app'.

config LV_Z_USE_FILESYSTEM
	bool "Enable file system"
	depends on FILE_SYSTEM
	default y if FILE_SYSTEM
	help
	  Enable LittlevGL file system

rsource "../Kconfig"
rsource "Kconfig.memory"
rsource "Kconfig.input"
rsource "Kconfig.shell"

endif
