# Copyright (c) 2018-2019 Jan Van Winkel <jan.van_winkel@dxplore.eu>
# Copyright (c) 2020 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

menu "Graphical settings"

DT_CHOSEN_ZEPHYR_DISPLAY := zephyr,display
DT_CZD_PATH:= $(dt_chosen_path,$(DT_CHOSEN_ZEPHYR_DISPLAY))
DT_CZD_HOR_RES_MAX := $(dt_node_int_prop_int,$(DT_CZD_PATH),width)
DT_CZD_VER_RES_MAX := $(dt_node_int_prop_int,$(DT_CZD_PATH),height)

config LV_Z_HOR_RES_MAX
	int "Horizontal Screen Resolution"
	default "$(DT_CZD_HOR_RES_MAX)" if HAS_DTS
	default 480
	help
	  Horizontal screen resolution in pixels

config LV_Z_VER_RES_MAX
	int "Vertical Screen Resolution"
	default "$(DT_CZD_VER_RES_MAX)" if HAS_DTS
	default 320
	help
	  Vertical screen resolution in pixels

endmenu
