config LV_USE_DRAW_SDL
	bool "SDL renderer"
	select LV_USE_DRAW_SW
	select LV_DRAW_DISABLE_TILED_RENDERING
	default n
	help
		Render with the SDL renderer API, caching widgets and images as SDL textures.
