config LV_USE_DRAW_SW
	bool "Enable software rendering"
	default y
	help
	Required to draw anything on the screen.

if LV_USE_DRAW_SW

config LV_DRAW_SW_SUPPORT_RGB565
	bool "Enable support for RGB565 color format"
	default y

config LV_DRAW_SW_SUPPORT_RGB565_SWAPPED
	bool "Enable support for RGB565 swapped color format"
	default y

config LV_DRAW_SW_SUPPORT_RGB565A8
	bool "Enable support for RGB565A8 color format"
	default y

config LV_DRAW_SW_SUPPORT_RGB888
	bool "Enable support for RGB888 color format"
	default y
	

config LV_DRAW_SW_SUPPORT_XRGB8888
	bool "Enable support for XRGB8888 color format"
	default y
	

config LV_DRAW_SW_SUPPORT_ARGB8888
	bool "Enable support for ARGB8888 color format"
	default y
	

config LV_DRAW_SW_SUPPORT_ARGB8888_PREMULTIPLIED
	bool "Enable support for ARGB8888 premultiplied color format"
	default y
	

config LV_DRAW_SW_SUPPORT_L8
	bool "Enable support for L8 color format"
	default y
	

config LV_DRAW_SW_SUPPORT_AL88
	bool "Enable support for AL88 color format"
	default y
	

config LV_DRAW_SW_SUPPORT_A8
	bool "Enable support for A8 color format"
	default y
	

config LV_DRAW_SW_SUPPORT_I1
	bool "Enable support for I1 color format"
	default y
	

config LV_DRAW_SW_I1_LUM_THRESHOLD
	int "Luminance threshold for a pixel to be active"
	default 127
	range 0 254
	depends on LV_DRAW_SW_SUPPORT_I1

config LV_DRAW_SW_DRAW_UNIT_CNT
	int "Number of draw units"
	default 1
	depends on !LV_OS_NONE
	help
		Number of threads used to render a frame in parallel

config LV_USE_DRAW_ARM2D_SYNC
	bool "Enable Arm's 2D image processing library (Arm-2D) for all Cortex-M processors"
	default n
	help
		Must deploy arm-2d library to your project and add include PATH for "arm_2d.h".

config LV_USE_NATIVE_HELIUM_ASM
	bool "Enable native helium assembly"
	default n
	help
		Disabling this allows arm2d to work on its own (for testing only)

config LV_DRAW_SW_COMPLEX
	bool "Enable complex draw engine"
	default y
	help
		0: use a simple renderer capable of drawing only simple rectangles with gradient, images, texts, and straight lines only,
		1: use a complex renderer capable of drawing rounded corners, shadow, skew lines, and arcs too.

config LV_GRADIENT_MAX_STOPS
	int "Number of stops allowed per gradient"
	default 2
	help
		Increase this to allow more stops.
		This adds (sizeof(lv_color_t) + 1) bytes per additional stop

config LV_USE_DRAW_SW_COMPLEX_GRADIENTS
	bool "Enable drawing complex gradients in software"
	default n
	
	help
		0: do not enable complex gradients
		1: enable complex gradients (linear at an angle, radial or conical)

config LV_DRAW_SW_SHADOW_CACHE_SIZE
	int "Allow buffering some shadow calculation"
	depends on LV_DRAW_SW_COMPLEX
	default 0
	help
		LV_DRAW_SW_SHADOW_CACHE_SIZE is the max shadow size to buffer, where
		shadow size is `shadow_width + radius`.
		Caching has LV_DRAW_SW_SHADOW_CACHE_SIZE^2 RAM cost.

config LV_DRAW_SW_CIRCLE_CACHE_SIZE
	int "Set number of maximally cached circle data"
	depends on LV_DRAW_SW_COMPLEX
	default 4
	help
		The circumference of 1/4 circle are saved for anti-aliasing
		radius * 4 bytes are used per circle (the most often used
		radiuses are saved).
		Set to 0 to disable caching.

choice LV_USE_DRAW_SW_ASM
	prompt "Asm mode in sw draw"
	default LV_DRAW_SW_ASM_NONE
	
	help
		ASM mode to be used

	config LV_DRAW_SW_ASM_NONE
		bool "0: NONE"
	config LV_DRAW_SW_ASM_NEON
		bool "1: NEON"
	config LV_DRAW_SW_ASM_HELIUM
		bool "2: HELIUM"
	config LV_DRAW_SW_ASM_RISCV_V
		bool "3: RISC-V Vector"
	config LV_DRAW_SW_ASM_CUSTOM
		bool "255: CUSTOM"
		select LV_DRAW_SW_ASM_USE_CUSTOM_INCLUDE
endchoice

config LV_USE_DRAW_SW_ASM
	int
	default 0 if LV_DRAW_SW_ASM_NONE
	default 1 if LV_DRAW_SW_ASM_NEON
	default 2 if LV_DRAW_SW_ASM_HELIUM
	default 3 if LV_DRAW_SW_ASM_RISCV_V
	default 255 if LV_DRAW_SW_ASM_CUSTOM

config LV_DRAW_SW_ASM_USE_CUSTOM_INCLUDE
	bool

config LV_DRAW_SW_ASM_CUSTOM_INCLUDE
	string "Set the custom asm include file"
	default ""
	depends on LV_DRAW_SW_ASM_CUSTOM

endif #LV_USE_DRAW_SW
