# Linux only display and input drivers. Added on Linux hosts only.

CONFIG_LV_USE_LINUX_FBDEV=y

CONFIG_LV_USE_WAYLAND=y
# CONFIG_LV_WAYLAND_AUTO_BACKEND is not set
CONFIG_LV_WAYLAND_BACKEND_SHM=y

CONFIG_LV_USE_LIBINPUT=y
CONFIG_LV_LIBINPUT_XKB=y
CONFIG_LV_USE_LINUX_DRM=y
# CONFIG_LV_LINUX_DRM_AUTO_BACKEND is not set
CONFIG_LV_LINUX_DRM_BACKEND_FBDEV=y
