# Enables each driver's EGL backend to be added on top of linux_sw.defconfig

CONFIG_LV_USE_DRAW_OPENGLES=y

CONFIG_LV_LINUX_DRM_BACKEND_EGL=y
CONFIG_LV_SDL_BACKEND_EGL=y

CONFIG_LV_WAYLAND_USE_EGL=y
CONFIG_LV_WAYLAND_USE_SHM=y
