# SDL simulator. This build test also covers the NuttX port, which has no
# dedicated CI target of its own.

CONFIG_LV_USE_SDL=y
CONFIG_LV_USE_DRAW_SDL=y
# CONFIG_LV_SDL_AUTO_BACKEND is not set
CONFIG_LV_SDL_BACKEND_SW=y

CONFIG_LV_USE_NUTTX=y
CONFIG_LV_USE_NUTTX_INDEPENDENT_IMAGE_HEAP=y
CONFIG_LV_NUTTX_DEFAULT_DRAW_BUF_USE_INDEPENDENT_IMAGE_HEAP=y
CONFIG_LV_USE_NUTTX_LIBUV=y
# CONFIG_LV_USE_NUTTX_CUSTOM_INIT is not set
CONFIG_LV_USE_NUTTX_LCD=y
CONFIG_LV_NUTTX_LCD_DOUBLE_BUFFER=y
CONFIG_LV_USE_NUTTX_TOUCHSCREEN=y
CONFIG_LV_NUTTX_TOUCHSCREEN_CURSOR_SIZE=20
CONFIG_LV_USE_NUTTX_MOUSE=y
CONFIG_LV_USE_NUTTX_MOUSE_MOVE_STEP=1
CONFIG_LV_USE_NUTTX_TRACE_FILE=y
CONFIG_LV_NUTTX_TRACE_FILE_PATH="/data/lvgl-trace.log"
