# Features that need a POSIX environment or libraries that are not built on
# Windows.

CONFIG_LV_OS_PTHREAD=y

CONFIG_LV_USE_FS_POSIX=y
CONFIG_LV_FS_POSIX_LETTER=66

CONFIG_LV_USE_LIBJPEG_TURBO=y
CONFIG_LV_USE_LIBWEBP=y

CONFIG_LV_USE_GSTREAMER=y
CONFIG_LV_USE_FFMPEG=y
CONFIG_LV_FFMPEG_DUMP_FORMAT=y
CONFIG_LV_FFMPEG_PLAYER_USE_LV_FS=y
