config LV_USE_IME_PINYIN
	bool "Enable Pinyin input method"
	default n
	select LV_USE_KEYBOARD
	help
		Enable Pinyin input method

if LV_USE_IME_PINYIN

config LV_IME_PINYIN_USE_K9_MODE
	bool "Enable Pinyin input method 9 key input mode"
	default y

config LV_IME_PINYIN_K9_CAND_TEXT_NUM
	int "Maximum number of candidate panels for 9-key input mode"
	depends on LV_IME_PINYIN_USE_K9_MODE
	default 3

config LV_IME_PINYIN_USE_DEFAULT_DICT
	bool "Use built-in Thesaurus"
	default y
	help
		If you do not use the default thesaurus, be sure to use lv_ime_pinyin after setting the thesaurus

config LV_IME_PINYIN_CAND_TEXT_NUM
	int "Maximum number of candidate panels"
	default 6
	help
		Set the maximum number of candidate panels that can be displayed.
		This needs to be adjusted according to the size of the screen.

endif #LV_USE_IME_PINYIN
