config LV_USE_CALENDAR
	bool "Calendar"
	default y

if LV_USE_CALENDAR
config LV_CALENDAR_WEEK_STARTS_MONDAY
	bool "Calendar week starts monday"

menu "Days name configuration"
	depends on LV_USE_CALENDAR

config LV_MONDAY_STR
	string "Shortened string for Monday"
	default "Mo"
config LV_TUESDAY_STR
	string "Shortened string for Tuesday"
	default "Tu"
config LV_WEDNESDAY_STR
	string "Shortened string for Wednesday"
	default "We"
config LV_THURSDAY_STR
	string "Shortened string for Thursday"
	default "Th"
config LV_FRIDAY_STR
	string "Shortened string for Friday"
	default "Fr"
config LV_SATURDAY_STR
	string "Shortened string for Saturday"
	default "Sa"
config LV_SUNDAY_STR
	string "Shortened string for Sunday"
	default "Su"

endmenu

config LV_USE_CALENDAR_HEADER_ARROW
	bool "Use calendar header arrow"
	default y

config LV_USE_CALENDAR_HEADER_DROPDOWN
	bool "Use calendar header dropdown"
	default y

config LV_USE_CALENDAR_CHINESE
	bool "Use chinese calendar"
	default n

endif #LV_USE_CALENDAR
	

