config LV_BUILD_DEMOS
	bool "Build demos"
	default y
	help
		Build the demos

if LV_BUILD_DEMOS

source "$LVGL_DIR/demos/benchmark/Kconfig"
source "$LVGL_DIR/demos/gltf/Kconfig"
source "$LVGL_DIR/demos/keypad_encoder/Kconfig"
source "$LVGL_DIR/demos/music/Kconfig"
source "$LVGL_DIR/demos/render/Kconfig"
source "$LVGL_DIR/demos/stress/Kconfig"
source "$LVGL_DIR/demos/vector_graphic/Kconfig"
source "$LVGL_DIR/demos/widgets/Kconfig"

	config LV_USE_DEMO_FLEX_LAYOUT
		bool "Flex layout previewer"
		default n
	config LV_USE_DEMO_MULTILANG
		bool "multi-language demo"
		default n

	config LV_USE_DEMO_SMARTWATCH
		bool "Smartwatch demo"

	config LV_USE_DEMO_EBIKE
		bool "Ebike demo"

	config LV_DEMO_EBIKE_PORTRAIT
		bool "Ebike portrait layout"
		depends on LV_USE_DEMO_EBIKE
		default n

	config LV_USE_DEMO_HIGH_RES
		bool "High resolution demo"
endif

