Sphinx
breathe
imagesize
importlib-metadata
sphinx-sitemap
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-jquery
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-mermaid==0.9.2
sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinx-tabs
typing-extensions
sphinx-reredirects
dirsync
