menu "Rendering Configuration"

menu "Color Settings"
	choice
		prompt "Color depth"
		default LV_COLOR_DEPTH_16
		help
			Color depth to be used.

		config LV_COLOR_DEPTH_32
			bool "32: XRGB8888"
			imply LV_FONT_MONTSERRAT_14
		config LV_COLOR_DEPTH_24
			bool "24: RGB888"
			imply LV_FONT_MONTSERRAT_14
		config LV_COLOR_DEPTH_16
			bool "16: RGB565"
			imply LV_FONT_MONTSERRAT_14
		config LV_COLOR_DEPTH_8
			bool "8: RGB232"
			imply LV_FONT_UNSCII_8
		config LV_COLOR_DEPTH_1
			bool "1: 1 byte per pixel"
			imply LV_FONT_MONTSERRAT_14
	endchoice

	config LV_COLOR_DEPTH
		int
		default 1 if LV_COLOR_DEPTH_1
		default 8 if LV_COLOR_DEPTH_8
		default 16 if LV_COLOR_DEPTH_16
		default 24 if LV_COLOR_DEPTH_24
		default 32 if LV_COLOR_DEPTH_32
		help
			Color depth: 1 (I1), 8 (L8), 16 (RGB565), 24 (RGB888), 32 (XRGB8888)

	config LV_COLOR_MIX_ROUND_OFS
		int "Adjust color mix functions rounding"
		default 0
		range 0 254
		help
			0: no adjustment, get the integer part of the result (round down)
			64: round up from x.75
			128: round up from half
			192: round up from x.25
			254: round up
endmenu

# Capability configs, these are set internally by draw units. Can be used by eg: widgets that depend
# on a specific draw feature
config LV_DRAW_HAS_VECTOR_SUPPORT
	bool
	default n

config LV_DRAW_HAS_3D_SUPPORT
	bool
	default n

config LV_DEF_REFR_PERIOD
	int "Default refresh period (ms)"
	default 33
	help
		Default display refresh, input device read and animation step period.

config LV_DPI_DEF
	int "Default Dots Per Inch (in px/inch)"
	default 130
	help
		Used to initialize default sizes such as widgets sizes and style paddings.
		(Not so important, you can adjust it to modify default sizes and spaces)

config LV_DRAW_BUF_STRIDE_ALIGN
	int "Buffer stride alignment"
	default 1
	help
		Align the stride of all layers and images to this many bytes.

config LV_DRAW_BUF_ALIGN
	int "Buffer address alignment"
	default 4
	help
		Align the start address of draw_buf addresses to this many bytes.

config LV_USE_MATRIX
	bool "Enable matrix support"
	default n
	select LV_USE_FLOAT
	help
		Enable matrix support

config LV_DRAW_TRANSFORM_USE_MATRIX
	bool "Using matrix for transformations"
	default n
	depends on LV_USE_MATRIX
	help
		Requirements: The rendering engine needs to support 3x3 matrix transformations.

config LV_DRAW_LAYER_SIMPLE_BUF_SIZE
	int "Optimal size to buffer the widget with opacity"
	default 24576
	help
		If a widget has `style_opa < 255` (not `bg_opa`, `text_opa` etc) or not NORMAL blend mode
		it is buffered into a "simple" layer before rendering. The widget can be buffered in smaller chunks.
		"Transformed layers" (if `transform_angle/zoom` are set) use larger buffers and can't be drawn in chunks.

config LV_DRAW_LAYER_MAX_MEMORY
	int "The maximum amount of memory that can be used for layers"
	default 0
	help
		Limit the max allocated memory for simple and transformed layers.
		It should be at least `LV_DRAW_LAYER_SIMPLE_BUF_SIZE` sized but if transformed layers are also used
		it should be enough to store the largest widget too (width x height x 4 area).
		Set it to 0 to have no limit.

config LV_DRAW_THREAD_STACK_SIZE
	int "Stack size of draw thread in bytes"
	default 8192
	depends on !LV_OS_NONE
	help
		If FreeType or ThorVG is enabled, it is recommended to set it to 32KB or more.

config LV_DRAW_THREAD_PRIO
	int "Thread priority for the drawing thread"
	range 0 4
	default 3
	depends on !LV_OS_NONE
	help
		Thread priority controls the relative importance of the drawing threads.
		Values correspond to lv_thread_prio_t enum in lv_os.h:
		0: LV_THREAD_PRIO_LOWEST
		1: LV_THREAD_PRIO_LOW
		2: LV_THREAD_PRIO_MID (default)
		3: LV_THREAD_PRIO_HIGH
		4: LV_THREAD_PRIO_HIGHEST

		Higher priority can improve rendering performance but might cause
		starvation of lower priority tasks.

config LV_USE_VECTOR_GRAPHIC
	bool "Use Vector Graphic APIs"
	default n
	select LV_USE_MATRIX
	help
		Enable drawing support vector graphic APIs.


rsource "snapshot/Kconfig"

config LV_USE_THORVG
	bool "ThorVG library for vector graphics support"
	default n
	select LV_DRAW_HAS_VECTOR_SUPPORT if LV_USE_DRAW_SW

config LV_USE_THORVG_INTERNAL
	bool "Internal ThorVG library bundled with LVGL"
	default y
	depends on LV_USE_THORVG


# These are menus because they contain a lot of configuration options
menu "Software Rendering (SW)"
rsource "sw/Kconfig"
endmenu

menu "VGLite"
rsource "vg_lite/Kconfig"
endmenu

menu "DAVE/2D"
rsource "renesas/dave2d/Kconfig"
endmenu

menu "Nema GFX"
rsource "nema_gfx/Kconfig"
endmenu

menu "NXP PXP"
rsource "nxp/pxp/Kconfig"
endmenu

menu "ESP32 PPA"
rsource "espressif/ppa/Kconfig"
endmenu

menu "DMA2D"
rsource "dma2d/Kconfig"
endmenu

menu "EVE"
rsource "eve/Kconfig"
endmenu

menu "NXP G2D"
rsource "nxp/g2d/Kconfig"
endmenu

menu "NanoVG (OpenGL Shaders)"
rsource "nanovg/Kconfig"
endmenu

menu "OpenGL Textures"
rsource "opengles/Kconfig"
endmenu

menu "SDL Textures"
rsource "sdl/Kconfig"
endmenu 
endmenu
