config LV_USE_TEST
	bool "Enable emulated input devices, time emulation, and screenshot compares."

if LV_USE_TEST

config LV_USE_TEST_SCREENSHOT_COMPARE
	bool "Enable `lv_test_screenshot_compare`. Requires lodepng and a few MB of extra RAM."
	select LV_USE_LODEPNG

config LV_TEST_SCREENSHOT_CREATE_REFERENCE_IMAGE
	bool "Create a reference image by default if it does not exist"
	default y
	depends on LV_USE_TEST_SCREENSHOT_COMPARE
	
endif #LV_USE_TEST
