config LV_USE_TEST
	bool "Enable emulated input devices, time emulation, and screenshot compares"
	help
		Enable emulated input devices, time emulation, and screenshot compares

if LV_USE_TEST

config LV_USE_TEST_SCREENSHOT_COMPARE
	bool "Screenshot Compare"
	select LV_USE_LODEPNG
	help
		Enable `lv_test_screenshot_compare`.
		Requires a few MB of extra RAM.

config LV_TEST_SCREENSHOT_CREATE_REFERENCE_IMAGE
	bool "Create a reference image by default if it does not exist"
	default y
	depends on LV_USE_TEST_SCREENSHOT_COMPARE
	
endif #LV_USE_TEST
